.depositions {
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  display: flex;
  > .title {
    @extend .h2-title;
    padding-top: 25px;
    color: #302a2a;
  }
  > .container {
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
    > .deposition {
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      display: flex;
      &:hover > .name {
        background-color: transparent;
        border: 1px solid #1547b460;
      }
      > .image {
        border-radius: 50%;
        object-fit: cover;
        display: block;
        height: 125px;
        width: 125px;
      }
      .name {
        transition: background-color 0.2s linear;
        border: 1px solid transparent;
        background-color: #1547b460;
        font-family: $heading-font;
        flex-direction: column;
        border-radius: 9px;
        font-size: 0.8rem;
        margin-top: 9px;
        display: flex;
        padding: 6px;
      }
    }
  }
}
