.highlight {
  margin-bottom: 60px;
  position: relative;
  user-select: none;
  max-width: 100vw;
  padding: 5vw 0;
  display: grid;
  width: 100%;
  @media ($mobile) {
    grid-template-columns: 1fr;
  }
  &::before {
    border-radius: 0 8px 8px 0;
    background-color: #f3eded;
    @extend .main-box-shadow;
    position: absolute;
    height: 100%;
    width: 90vw;
    content: "";
    left: 0;
    top: 0;
    @media ($mobile) {
      width: 100vw;
    }
  }
  > .container {
    grid-template-columns: 7.2fr 4.8fr;
    justify-self: center;
    max-height: 400px;
    max-width: 90vw;
    display: grid;
    z-index: 1;
    @media ($mobile) {
      grid-template-columns: 1fr;
      max-height: initial;
    }
    > .details {
      grid-template-columns: 1fr 1fr;
      display: grid;
      gap: 2rem;
      @media ($mobile) {
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
      }
      > .image {
        border-radius: 25px;
        object-fit: cover;
        max-height: 400px;
        min-height: 100%;
        display: flex;
        width: 100%;
      }
      > .resume {
        max-height: 400px;
        display: grid;
        width: 100%;
        @media ($mobile) {
          justify-items: center;
        }
        > .call {
          font-family: $heading-font;
          background-color: red;
          justify-content: center;
          border-radius: 10px;
          align-items: center;
          align-self: start;
          font-size: 1rem;
          height: 0.5rem;
          padding: 1rem;
          display: flex;
          color: $white;
          width: 45%;
        }
        > .title {
          font-family: $heading-font;
          font-size: 2rem;
          max-width: 70%;
          @media ($mobile) {
            text-align: center;
            margin-top: 15px;
          }
        }
        > .description {
          font-family: $text-font;
          align-self: center;
          max-width: 85%;
          @media ($mobile) {
            font-size: 0.7rem;
            margin: 15px 0;
          }
        }
        > .cta {
          font-family: $heading-font;
          background-color: $black;
          transition: 0.2s ease-in;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          font-size: 1.3rem;
          align-self: end;
          display: flex;
          color: $white;
          height: 3rem;
          padding: 4px;
          width: 60%;
          &:hover {
            background-color: transparent;
            border: solid 1px #333333;
            color: $black;
          }
        }
      }
    }
    > .gallery {
      &.container {
        position: relative;
        overflow: hidden;
        height: 400px;
        > .swiper-controls {
          transform: translateX(-50%);
          align-items: center;
          position: absolute;
          margin-top: 1rem;
          display: flex;
          width: 150px;
          height: 44px;
          z-index: 20;
          bottom: 0;
          left: 50%;
          .swiper-button-prev,
          .swiper-button-next {
            transition: 0.4s linear;
            z-index: 20;
            &::after {
              font-size: 1rem;
              color: $black;
            }
          }
        }
      }
      > .swiper-wrapper {
        cursor: pointer;
        margin: 0 auto;
        width: 100%;
        > .swiper-slide {
          background-color: $white;
          border: 1px solid #00000030;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          display: flex;
          height: 100%;
          > .image {
            object-fit: contain;
            display: block;
            height: 350px;
            width: 100%;
          }
        }
      }
    }
  }
}
