.page-header {
  border-bottom: 0.5px solid #33333320;
  transition: height 0.4s linear;
  background-color: $white;
  justify-content: center;
  align-items: center;
  max-height: 70px;
  position: sticky;
  display: flex;
  height: 100px;
  width: calc(100vw - 1rem);
  top: 0;
  z-index: 50;
  &.isActive {
    border-bottom: 0.5px solid #33333320;
    height: 50px;
  }
  > .container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    max-width: 90%;
    display: grid;
    width: 100%;
    > .logo {
      display: flex;
      column-gap: 3px;
      font-family: $heading-font;
      position: relative;
      height: auto;
      font-size: 1.4rem;
      cursor: pointer;
      height: auto;
      span {
        color: $main-blue;
      }
      &::before {
        background-color: $main-blue;
        transform: translateY(-50%);
        position: absolute;
        height: 100%;
        content: "";
        left: -10px;
        width: 2px;
        top: 50%;
      }
    }
    > .navbar {
      justify-content: center;
      align-items: center;
      column-gap: 15px;
      display: flex;
      width: 100%;
      > .link {
        text-transform: uppercase;
        transition: all .2s linear;
        font-family: $heading-font;
        font-size: .9rem;
        color: $black;
        &:hover {
          border-bottom: solid 2px #036697;
          color: $main-blue;
        }
      }
    }
    > .groupIcon {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: center;
      > .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        > .icon {
        cursor: pointer;
        font-size: 1rem;
      }
      }
    }
  }
}
