.products-categories {
  padding: 40px 7px 0 40px;
  position: relative;
  max-width: 100vw;
  &:before {
    background-color: $header-color;
    position: absolute;
    width: 100vw;
    z-index: -1;
    content: "";
    height: 60%;
    left: 0;
    top: 0;
  }
  > .container {
    grid-template-columns: 4.8fr 7.2fr;
    display: grid;
    @media ($mobile) {
      grid-template-columns: 1fr;
    }
    max-width: 100vw;
    > .description {
      flex-direction: column;
      padding-right: 85px;
      text-align: left;
      display: flex;
      @media ($mobile) {
        padding-right: initial;
      }
      > .call {
        font-family: $heading-font;
        padding-bottom: 14px;
        font-size: 0.7rem;
        @media ($mobile) {
          text-align: center;
        }
      }
      > .title {
        font-family: $heading-font;
        padding-bottom: 20px;
        @media ($mobile) {
          text-align: center;
        }
      }
      > .text {
        font-family: $text-font;
        font-size: 0.8rem;
        @media ($mobile) {
          text-align: center;
        }
      }
    }
    > .gallery {
      justify-content: space-between;
      grid-template-columns: 1fr 1fr;
      display: grid;
      gap: 8px;
      @media ($mobile) {
        margin-top: 20px;
      }
      > .singleImage {
        padding-top: 40px;
        > .figure {
          flex-direction: column;
          display: flex;
          > .image {
            object-fit: cover;
            display: block;
            height: 230px;
            width: 100%;
          }
          > .caption {
            background-color: $caption-color;
            flex-direction: column;
            align-items: center;
            text-align: center;
            display: flex;
            padding: 20px;
          }
        }
      }
      > .doubleImage {
        > .figure {
          flex-direction: column;
          display: flex;
          > .image {
            object-fit: cover;
            display: block;
            height: 230px;
            width: 100%;
            &-small {
              object-fit: cover;
              display: block;
              height: 150px;
              width: 100%;
            }
          }
          > .caption {
            background-color: $caption-color;
            flex-direction: column;
            text-align: center;
            margin-bottom: 8px;
            display: flex;
            padding: 20px;
          }
        }
      }
    }
  }
}
