// Fonts
$text-font: 'Montserrat', sans-serif;
$heading-font: 'PT Sans', sans-serif; 

// Colors
$black: #000000;
$white: #ffffff;
$main-blue: #036697;
$header-color: #f3f7f9;
$caption-color: #ccd9e5;

// Breakpoints
$mobile-sm: "max-width: 767px";
$mobile: "max-width: 1023px";
$desktop: "min-width: 1024px";
